{% extends "layout.html" %}
{% block title %} NMA ADT {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/leaflet-1.6.0/leaflet.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/Plugins-leaflet/L.Control.MousePosition/L.Control.MousePosition.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='lib/leaflet-1.6.0/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/L.Control.MousePosition/L.Control.MousePosition.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet-easyPrint/bundle.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('aws.static', filename='css/aws.css') }}">
<style>
    #contQCTable {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    background-color: #ffffff;
    }
    #mapAWSVars {
    width: 100%;
    height: 80vh;
    /*border: 1px solid #AAA;*/
    }
    #butMapVar table{
    table-layout: fixed;
    width: 100%;
    margin-top: 10px;
    }
    #butMapVar table td{
    padding: 0 2px;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row wrapper">
        <!-- Left Panel -->
        <div class="col-sm-3 input-sidebar-left">
            <div class="row">
                <!-- Plot spatial -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>QC Output</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div>
                                <label class="control-label">Select Date</label>
                                <br>
                                <table class="aws-select-time  map-select-time"></table>
                            </div>
                            <!--  -->
                            <div id="butMapVar">
                                <table>
                                    <tr>
                                        <td>
                                            <a id="AWSMapPrev">
                                                <button type="button" class="btn btn-primary btn-block">Previous</button>
                                            </a>
                                        </td>
                                        <td>
                                            <a id="AWSMapDis">
                                                <button type="button" class="btn btn-primary btn-block">Display</button>
                                            </a>
                                        </td>
                                        <td>
                                            <a id="AWSMapNext">
                                                <button type="button" class="btn btn-primary btn-block">Next</button>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--  -->
                            <div class="download">
                                <button type="button" id="downLeafletMap" class="btn btn-primary btn-block"> Download Map </button>
                            </div>
                            <p id="errorMSG"></p>
                        </div>
                    </div>
                </div>
                <!-- export data -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Export QC Output</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div>
                                <label class="control-label">Start Date</label>
                                <br>
                                <table class="aws-select-time  ts-start-time"></table>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">End Date</label>
                                <br>
                                <table class="aws-select-time ts-end-time"></table>
                            </div>
                            <br>
                            <!--  -->
                            <div class="download">
                                <a id="downQCoutMin" href="" target="_blank" download>
                                    <button type="button" class="btn btn-primary btn-block">Export Table</button>
                                </a>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right panel -->
        <div class="col-sm-9 main box">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#dispawssp" data-toggle="tab">QC Map</a></li>
                <li><a href="#dispawsqc" data-toggle="tab">QC Outputs</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="dispawssp">
                    <div id="mapAWSVars"></div>
                </div>
                <div class="tab-pane" id="dispawsqc">
                    <div id="contQCTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<!--  -->
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/aws-display-data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/params-AWS-QCOutput.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/display-AWS-QCMinutes.js') }}"></script>
{% endblock %}