{% extends "layout.html" %}
{% block title %} Meteo Rwanda AWS QC {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/leaflet-1.6.0/leaflet.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/Plugins-leaflet/L.Control.MousePosition/L.Control.MousePosition.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='lib/leaflet-1.6.0/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/L.Control.MousePosition/L.Control.MousePosition.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet-easyPrint/bundle.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('aws.static', filename='css/aws.css') }}">
<style>
    #contQCTable {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    background-color: #ffffff;
    }
    #mapAWSVars {
    width: 100%;
    height: 80vh;
    /*border: 1px solid #AAA;*/
    }
    #butMapVar table{
    table-layout: fixed;
    width: 100%;
    margin-top: 10px;
    }
    #butMapVar table td{
    padding: 0 2px;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row wrapper">
        <!-- Left Panel -->
        <div class="col-sm-3 input-sidebar-left">
            <div class="row">
                <!-- log source -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Log Files</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div>
                                <label class="control-label">Select Log Files Type</label>
                                <select id="logType" class="form-control">
                                    <option value="logperaws" selected>Log Files per AWS</option>
                                    <option value="logproc">Processing Log Files</option>
                                    <option value="logupload">Upload Log Files</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- display log -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Navigation</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div id="logFilesSelect" class="input-container-content"></div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <!-- Right panel -->
        <div class="col-sm-9 main box">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#dispawssp" data-toggle="tab">AWS Log Map</a></li>
                <li><a href="#dispawsqc" data-toggle="tab">Log Files</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="dispawssp">
                    <div id="mapAWSVars"></div>
                </div>
                <div class="tab-pane" id="dispawsqc">
                    <div id="contQCTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<!--  -->
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/aws-display-data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/params-AWS-LogFiles.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/display-AWS-LogFiles.js') }}"></script>
{% endblock %}