{% extends "layout.html" %}
{% block title %} NMA ADT {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/leaflet-1.6.0/leaflet.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/Plugins-leaflet/L.Control.MousePosition/L.Control.MousePosition.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='lib/leaflet-1.6.0/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/L.Control.MousePosition/L.Control.MousePosition.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/highstock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/modules/data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/highcharts-more.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/modules/exporting.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/modules/accessibility.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet.Spin-1.1.2/spin.js/spin.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet.Spin-1.1.2/leaflet.spin.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet-easyPrint/bundle.js') }}"></script>
<style>
    #contAWSGraph {
    width: 100%;
    height: 80vh;
    }
    #mapAWSVars {
    width: 100%;
    height: 80vh;
    /*border: 1px solid #AAA;*/
    }
    #butMapVar table{
    table-layout: fixed;
    width: 100%;
    margin-top: 10px;
    }
    #butMapVar table td{
    padding: 0 2px;
    }
    #accumulTime{
    height: 1.4em;
    }
    #accumulTime::-webkit-inner-spin-button {
    opacity: 1;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row wrapper">
        <!-- Left Panel -->
        <div class="col-sm-3 input-sidebar-left">
            <div class="row">
                <!-- data source -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Accumulated Total Rainfall </span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div style="text-align: center;">
                                <br>
                                <span>
                                    <input type="number" name="accumul" id="accumulTime" step="1" min="1" max="72" value="1">
                                    <select name="tstep" id="timestepDispTS">
                                        <option value="hourly" selected>Hour</option>
                                        <option value="daily">Day</option>
                                    </select>
                                    <label>Accumulation</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Plot Time series -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Time Series</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div>
                                <label class="control-label">Select Station</label>
                                <select name="aws" id="stationDispAWS" class="form-control"> </select>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">Start Date</label>
                                <br>
                                <table class="aws-select-time  ts-start-time"></table>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">End Date</label>
                                <br>
                                <table class="aws-select-time ts-end-time"></table>
                            </div>
                            <br>
                            <!--  -->
                            <div>
                                <a id="plotAWSGraph">
                                    <button type="button" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="display:none;"></i> Display Chart</button>
                                </a>
                            </div>
                            <!--  -->
                            {% if session.logged_in %}
                            <div class="download">
                                <a id="downAWSAccumTS" href="" target="_blank" download>
                                    <button type="button" class="btn btn-primary btn-block">Download Data in CSV</button>
                                </a>
                            </div>
                            {% endif %}
                            <!--  -->
                        </div>
                    </div>
                </div>
                <!-- Plot spatial -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Map</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div>
                                <label class="control-label">Select Date</label>
                                <br>
                                <table class="aws-select-time  map-select-time"></table>
                            </div>
                            <!--  -->
                            <div id="butMapVar">
                                <table>
                                    <tr>
                                        <td>
                                            <a id="AWSMapPrev">
                                                <button type="button" class="btn btn-primary btn-block">Previous</button>
                                            </a>
                                        </td>
                                        <td>
                                            <a id="AWSMapDis">
                                                <button type="button" class="btn btn-primary btn-block">Display</button>
                                            </a>
                                        </td>
                                        <td>
                                            <a id="AWSMapNext">
                                                <button type="button" class="btn btn-primary btn-block">Next</button>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--  -->
                            <div id="colKeyMapVar"></div>
                            <!--  -->
                            {% if session.logged_in %}
                            <div class="download">
                                <a id="downAWSAccumSP" href="" target="_blank" download>
                                    <button type="button" class="btn btn-primary btn-block">Download Data in CSV</button>
                                </a>
                            </div>
                            {% endif %}
                            <!--  -->
                            <div class="download">
                                <button type="button" id="downLeafletMap" class="btn btn-primary btn-block"> Download Map </button>
                            </div>
                            <!--  -->
                            <p id="errorMSG"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right panel -->
        <div class="col-sm-9 main box">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#dispawssp" data-toggle="tab">AWS Map</a></li>
                <li><a href="#dispawsts" data-toggle="tab">AWS Time Series</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="dispawssp">
                    <div id="mapAWSVars"></div>
                </div>
                <div class="tab-pane" id="dispawsts">
                    <div id="contAWSGraph"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<!--  -->
{% if session.logged_in %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/modules/export-data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/export-AWS-AccumulRain.js') }}"></script>
{% endif %}
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/aws-display-data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/params-AWS-AccumulRain.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/print-screen-map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/display-AWS-AccumulRain.js') }}"></script>
{% endblock %}