{% extends "layout.html" %}
{% block title %} Meteo Rwanda AWS Wind Data {% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/highcharts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/modules/windbarb.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/modules/exporting.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/modules/accessibility.js') }}"></script>
<style>
    #contAWSGraph {
    width: 100%;
    height: 80vh;
    margin-bottom: 10px;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row wrapper">
        <!-- Left Panel -->
        <div class="col-sm-3 input-sidebar-left">
            <div class="row">
                <!-- Plot Time series -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Wind Data</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div>
                                <label class="control-label">Select Station</label>
                                <select name="aws" id="stationDispAWS" class="form-control"> </select>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">Select Time Step</label>
                                <select name="tstep" id="timestepDispTS" class="form-control">
                                    <option value="minute">AWS Original Time Step</option>
                                    <option value="hourly" selected>Hourly Data</option>
                                </select>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">Start Time</label>
                                <br>
                                <table class="aws-select-time ts-start-time"></table>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">End Time</label>
                                <br>
                                <table class="aws-select-time ts-end-time"></table>
                            </div>
                            <br>
                            <!--  -->
                            <div>
                                <a id="plotWindDataBut">
                                    <button type="button" class="btn btn-primary btn-block"> <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="display:none;"></i> Display Wind Barb</button>
                                </a>
                            </div>
                            <!--  -->
                            {% if session.logged_in %}
                            <div class="download">
                                <a id="downWindDataBut" href="" target="_blank" download>
                                    <button type="button" class="btn btn-primary btn-block">Download Data in CSV</button>
                                </a>
                            </div>
                            {% endif %}
                            <!--  -->
                            <p id="errorMSG"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right panel -->
        <div class="col-sm-9 main box">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#dispbarb" data-toggle="tab">Wind Barb</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="dispbarb">
                    <div id="contAWSGraph"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<!--  -->
{% if session.logged_in %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/highcharts-8.1.2/modules/export-data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/export-Wind-Barb.js') }}"></script>
{% endif %}
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/aws-display-data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/params-AWS-WindData.js') }}"></script>
<script type="text/javascript" src="{{ url_for('aws.static', filename='js/display-Wind-Barb.js') }}"></script>
{% endblock %}