<header>
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('homepage') }}">
                    <img src="{{ url_for('static', filename='images/logos.png') }}">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">AWS Data <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('aws.dispAWSCoords_page') }}"> AWS Map and Metadata </a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('aws.dispAWSStatus_page') }}"> AWS Data Status </a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('aws.dispAWSMinData_page') }}">AWS Minutes Data</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('aws.dispAWSAggrData_page') }}">AWS Aggregated Data</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('aws.dispAWSAggrDataSel_page') }}">AWS Aggregated Data - Selected stations</a></li>
                    <li class="divider"></li>
                    <!-- wind1 -->
                    <li class="dropdown-submenu">
                        <a href="#"> AWS Wind Data </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('aws.dispWindBarb_page') }}"> Display Wind Barb </a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('aws.dispWindRose_page') }}">Display Wind Rose</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('aws.dispWindContours_page') }}">Visualizing Diurnal Wind Climatologies</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('aws.dispMSLPHourly_page') }}">Hourly Mean Sea Level Pressure </a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('aws.dispAWSAccumulRR_page') }}">Rainfall Accumulation</a></li>
                    {% if session.logged_in and session.userlevel > 1 %}
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a href="#"> AWS Quality Control Outputs </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('aws.dispQCMinutes_page') }}"> Native Time Step - Limit Check </a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('aws.dispQCHourly_page') }}">Hourly - Spatial Check</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('aws.dispLogFiles_page') }}">AWS Processing Log Files</a></li>
                    {% endif %}
                </ul>
            </li>
            <!-- Tools -->
            {% if session.logged_in and session.userlevel == 3 %}
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Configurations <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url_for('auth.createUser_page') }}"> Users Management </a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
            <li>
                <a href="{{ url_for('auth.logoutUser') }}">
                    <span>{{ session.username }}</span>&nbsp;
                    <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            {% else %}
                <li>
                    <a role="presentation" data-toggle="modal" data-target="#loginModal" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    {% include 'login.html' %}
                    {% if error_login %}
                        <script> $('#loginModal').modal('show'); </script>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!--  -->
<div class="div-flash-alert">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
</header>